.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 45px;
  pointer-events: none;
  width: 45px;
}

.App-header {
  background-color: #282c34;
  min-height: 45px;
  display: inline-flex;
  left: 0; right: 0;
  top: 0;
  flex-direction: row-wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 2;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}
.App-menu *{
  color: #61dafb;
  text-decoration: none;
  padding: 0px 10px;
  font-size-adjust: 100%;
  font-size: 15.8px;
}
.App-menu *:hover{
  color: #fff;
}

@media screen and (max-width: 1024px){
  .App-header {
    padding-left: 30px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
