body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-15deg, rgba(0, 255, 255, 0.438), rgba(0, 102, 153, 0.534));
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 238);
}
.margin{
  display: flex;
  height: 45px;
}
.Welcome-Section, .Welcome-Section fieldset{
  height: auto;
}
.Welcome-Section{
  box-sizing: content-box;
  margin: 0 auto;
  width: 80%;
  margin: 5px auto;
  padding: 20px 0px;
  min-height: 80vh;
}



.Welcome-Section fieldset{
  border-radius: 3px;
  border: 1px groove rgba(0, 255, 255, 0.342);
  box-shadow: 0px 2px 4px 0px #31303080;

}
.Welcome-Section fieldset h1{
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .44);
  margin-bottom: 5px;
}
.profile-image, .profile-image img{
  overflow: hidden;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .44);
}
.Welcome-Section .cards{
  display: flex;
  border: 0px solid #ccc;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
  flex-direction: row wrap;
}
.Welcome-Section .cards .card{
  display: inline-flex;
  height: 40vh;
  width: 31%;
  margin-top:10px;
  margin-bottom: 10px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.945);
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.157);
  border-radius: 6px;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
  color: #333333;
}

.Welcome-Section .cards .card h3{
  border-bottom: 1px solid rgba(202, 202, 202, 0.548);
  padding: 10px 0px;
  font-size: initial !important;
  margin: 0px;
}
.Welcome-Section .cards .card li{
  list-style-type: disc;
  min-height: 25px;
  color: rgb(68, 68, 68);
  line-height: 25px;
  border-top: 1px solid rgba(202, 202, 202, 0.383);
  width: 100%;
  text-align: left;
  margin: 5px 0px;
  padding: 5px 0px;
  font-size: 14.8px;
}
.Welcome-Section ul{
  margin: 0px;
  width: auto;
}
.Welcome-Section em{
  display: block;
  margin-bottom: 10px;
}

@media screen and (max-width:1024px){
  .Welcome-Section{
    width: 90%;
    margin-left: 0px;
  }
  .Welcome-Section .cards{
    flex-flow: column;
    flex-direction: column;
    justify-content: space-between;
  }
  .Welcome-Section .cards .card{
    width: 90vw;
    margin-top:20px;
  }
}